@import "~bootstrap/scss/variables";
@import "./variables";

@media (min-width: 1200px) {
    .container {
        max-width: $container-width;
    }
}
.row {
    margin: auto;
}

html,
body {
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: $primary-color;
}

.btn {
    font-family: $button-font;
    padding: 0.45em 1.1em;
    font-size: 1rem;
    &:hover {
        background-color: inherit;
    }
    &:active {
        background-color: inherit;
    }
}

.btn-primary {
    background-color: $secondary-color;
    border-style: none;
    border-radius: 50px;
    &:hover {
        background-color: $secondary-color;
    }
    &:active {
        background-color: $secondary-color !important;
    }
}

a {
    color: $primary-color;
    &:hover {
        text-decoration: none;
        color: $primary-color;
        cursor: pointer;
    }
}

p {
    font-size: $content-size;
    color: $content-color;
}

.react-google-flight-datepicker {
    .date-picker {
        position: relative;
        border-radius: 4px;
        background: white;
        padding: 0px;
        .date-picker-input {
            border: 2px solid #ced4da;
            border-radius: 0.25rem;
        }

        .selected-date {
            font-size: 1rem;
            color: #6c757d;        }
    }
}

.form-control {
    border: 2px solid #ced4da;
    &:focus {
        border: 2px solid #1a73e8;
        box-shadow: none;
        background-color: #f4f8ff;
        transition: background-color 15ms ease-in-out;
    }
}
svg {
    color: $content-color;
}

/**
* Creates reusable height classes 
**/
@for $i from 1 to 11 {
    .h-#{$i} {
        height: $i * 10% !important;
    }
    .mtb-#{$i} {
        margin: $i * 50px 0px;
    }
}
