@import "./fonts";

/**
* Backgrounds: Defines background colors for each theme (☀️:🌙)
**/
$bg-light: #f9efe4;
$bg-dark: #000000;

/**
* Colors: Defines all the global colors (fonts, buttons, content etc.)
**/
$primary-color: #000000;
$secondary-color: #1967D2;
$alternate-color: #f0f0f0;
$special-color: #FBBC04;

$content-color: #423F3F;

$primary-block-color: #ffffff;
$secondary-block-color: #e7e7e7; // or #3cbcd0 (sky blue) : #ac94c8 (lavender)
$info-block-color:#dadada;

$heading-color: #7d7d7d;

$danger-color: #D93025;
$success-color: #188038;

/**
* Fonts: Defines all the global fonts (headings, titles, content etc.)
**/
$main-font: "Poppins", sans-serif;
$heading-font: "Poppins", sans-serif;
$subtitle-font: "Poppins", sans-serif;
$button-font: "Poppins", sans-serif;

/**
* Container: Defines a container size and other custom settings
**/

$container-width: 1080px;
$max-width: 1440px;


/**
* Sizes: Defines sizes of elements
**/

$content-size: 0.9rem;



