@import "bootstrap";
@import "./variables";
@import "./custom";
@import "./animations";

@for $i from 1 to 9 {
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}

.blue{
    color: $secondary-color;
}
.red{
    color: $danger-color;
}
.yellow{
    color: $special-color;
}
.green{
    color: $success-color;
}
.gray{
    color: $heading-color;
}

.app-detail{
    height: 900px;
}

.big{
    font-size: 3.5rem;
}



/** dark_theme-color: #121417 **/