@import "../../assets/style/variables";
.header {
    max-width: $max-width;
    height: 150px;
    margin: auto;
    padding: 30px 0px;
    svg{
        cursor: pointer;
        flex-shrink: 0;
    }
}
