@import "../../../assets/style/variables";

.burst {
  height: 700px;
  .burst-title {
    font-family: $heading-font;
    font-size: 11em;
    color: $primary-color;
  }
  .burst-banner {
    background-position: center;
    //background-size: cover;
  }
}
.burst-heading {
  background-repeat: no-repeat;
  background-position-y: -30px;
  background-position-x: 30%;
  background-size: contain;
  height: 720px;
}
